<component name="ArtifactManager">
  <artifact type="war" name="springmvcTemplate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcTemplate.war">
      <element id="artifact" artifact-name="springmvcTemplate:war exploded" />
    </root>
  </artifact>
</component>